.initial--screen--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This will center the box vertically */
  padding: 20px;
  text-align: center;
  border: 8px solid #333; /* A simple border can help establish the raw look of Neubrutalism */
  background-color: #ffffff;
  box-shadow: 5px 5px 0px #000;
}

.initial--screen--title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.initial--screen--sub-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.initial--screen--h3 {
  font-size: 25px;
  color: #ff4911;
}

.initial--screen--h4 {
  font-size: 20px;
}

.initial--screen--paragraph {
  font-size: 20px;
  font-weight: 600;
}

.initial--screen--ul {
  font-size: 25px;
  font-weight: 600;
}

.span--easy {
  color: green;
}

.span--medium {
  color: orange;
}

.span--hard {
  color: red;
}

.initial--screen--btn {
  font-size: 1.2em;
  padding: 15px 25px;
  color: #ffffff;
  background-color: #3300ff;
  border: 5px solid black;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 0px #000;
}

.initial--screen--btn:hover {
  background-color: black;
}
